<%= form_for(@coche) do |f| %>
  <% if @coche.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coche.errors.count, "error") %> prohibited this coche from being saved:</h2>

      <ul>
      <% @coche.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matricula %><br>
    <%= f.text_field :matricula %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
